
body {
  font-family: Verdana, Ubuntu, Arial, sans-serif;
  background-color: #4d4d4d;
  color: white;
}

div#content {
  width: 100%;
  padding: 1em;
}

table#jobslist {
  border: 1px black solid;
  width: 100%;
  margin-top: 1ex;
  margin-bottom: 1ex;
}

table#jobslist td {
  text-align: center;
}

table#jobslist tr td {
  border-right: 1px gray solid;
  border-bottom: 1px gray solid;
}

table#jobslist thead {
  font-weight: bold;
}

table#jobslist tr.Done {
  background-color: #84b561;
}
table#jobslist tr.Failed {
  background-color: #e47a7a;
}

div#viewjob {
  display: none;
  border: 1px black solid;
  position: absolute;
  top: 2ex;
  bottom: 2ex;
  left: 2em;
  right: 2em;
  background-color: #4d4d4d;
  padding: 1ex;
}

div#addjob {
  border: 1px black solid;
  padding: 1ex;
}
